<div class="new-main">
<%= form_with model: @attendance, local: true do |f| %>
  <div class="time">
    <div class="day">
      <%= "#{@year}年#{@month}月#{@day}日(#{@strftime})" %>
    </div>
    <div class="hour">
      <%= "#{@time}"%>
    </div>
    <%= f.hidden_field :year, value: @year %>
    <%= f.hidden_field :month, value: @month %>
    <%= f.hidden_field :day, value: @day %>
  </div>
    <div class="circle-attend">
      <%= f.hidden_field :in, value: @time %>
      <%= f.submit '出勤' ,class:"new-submit"%>
    </div>
    <div class="circle-leave">
      <%= f.hidden_field :out, value: @time %>
    </div>
    
    <div class="main-menu">
      <a href="/attendances">出勤簿画面へ</a>
    </div>
  <% end %>
</div>