<div class="new-main">
<%= form_with model: @attendance, local: true do |f| %>
  <div class="time">
    <div class="day">
      <%= "#{@year}年#{@month}月#{@day}日(#{@strftime})" %>
    </div>
    <div class="hour">
      <%= "#{@time.hour}:#{@time.min}:#{@time.sec}"%>
    </div>
  </div>
    <div class="circle-attend">
      <%= f.time_field :attending%>
      <%= f.submit "出勤する" ,class:"a" %>
    </div>
    <div class="circle-leave">
      <%= f.time_field :leaving%>
      <%= f.submit "退社する" ,class:"a" %>
    </div>
    
    <div class="main-menu">
      <a href="#">出勤簿画面へ</a>
    </div>
  <% end %>
</div>